<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tino.user">

    <application
        android:theme="@style/Theme.KotlinMvvm">
        <meta-data
            android:name="com.tino.user.UserApplication"
            android:value="com.tino.user.UserApplication" />
        <activity
            android:name=".UserActivity"
            android:exported="true"/>
    </application>

</manifest>