<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tino.contact">

    <application
        android:theme="@style/Theme.KotlinMvvm">
        <meta-data
            android:name="com.tino.contact.ContactApplication"
            android:value="com.tino.contact.ContactApplication" />
    </application>

</manifest>